unix {
  nodaemon
  log /var/log/vpp/vpp.log
  full-coredump
  gid vpp
  interactive
  cli-listen /run/vpp/cli.sock
  exec /etc/vpp/init.conf
}

api-trace {
  on
}

cpu {
  main-core {{MAIN_CORE}}
  corelist-workers {{WORKER_CORES}}
}

memory {
	# Set the main heap size, default is 1G
	main-heap-size {{MAIN_HEAP_SIZE}}
	main-heap-page-size default-hugepage
	# Set the default huge page size.
	default-hugepage-size 1G
}

api-segment {
  gid vpp
}

dpdk {
  dev {{N3_PCI}} {name n3}
  dev {{N4_PCI}} {name n4}
  dev {{N6_PCI}} {name n6}
    
  max-simd-bitwidth {{MAX_SIMD_BITWIDTH}}  # get support info with: grep -m1 -o 'avx[^ ]*' /proc/cpuinfo
}

# node variant defaults
node {
	default	{ variant {{NODE_VARIANT}} }
	ip4-rewrite { variant {{NODE_VARIANT}} }
}

plugins {
  path /usr/lib/x86_64-linux-gnu/vpp_plugins/
  plugin default {disable}
  plugin dpdk_plugin.so {enable}
  plugin upf_plugin.so {enable}
}